@using TennisLinks.Web.Models.Home
@model UserSearchResultViewModel

@{
    ViewBag.Title = Model.UserName + " user details";
}

<h2>@ViewBag.Title</h2>

<h4>Review your user details</h4>

<h5>Click update button to change your account info</h5>
<h5>Click other options button for other account settings</h5>

<hr />
<div>
    <table class="user-details-table table-striped">
        <tr>
            <th scope="row">Username:</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th scope="row">E-mail:</th>
            <td> @Model.Email</td>
        </tr>
        <tr>
            <th scope="row">Age:</th>
            <td>@{ var age = Model.Age > 0 ? Model.Age.ToString() : "No age specified.";} @age</td>
        </tr>
        <tr>
            <th scope="row">Gender:</th>
            <td>@{ var gender = Model.Gender != null ? Model.Gender : "No gender specified.";} @gender</td>
        </tr>
        <tr>
            <th scope="row">Skill level:</th>
            <td>@Model.Skill</td>
        </tr>
        <tr>
            <th scope="row">City:</th>
            <td>@{ var city = Model.City != null ? Model.City : "No city provided";} @city</td>
        </tr>
        <tr>
            <th scope="row">Clubs:</th>
            <td>@{ var club = Model.Club != null ? Model.Club : "You have no favorite club."; } @club</td>
        </tr>
        <tr>
            <th scope="row">Available for play:</th>
            <td>
                @{var time = Model.PlayTime != null ? Model.PlayTime : "You did not specify available time.";} @time
            </td>
        </tr>
        @*<tr>
            <th scope="row">Favorite players:</th>
            <td>
                @{var players = Model.Favorites != null && Model.Favorites.Count() > 0 ? string.Join(", ", @Model.Favorites) : "You have no favorite players.";} @players
            </td>
        </tr>*@
        <tr>
            <th scope="row">Personal info:</th>
            <td> @Model.Info</td>
        </tr>
    </table>

    <a href="/player/updatedetails" class="btn btn-primary">UPDATE YOUR INFO HERE</a>
    <a href="/manage" class="orange-button btn btn-warning">OTHER OPTIONS</a>
</div>