@using TennisLinks.Web.Models.Home
@using Microsoft.AspNet.Identity
@model List<HomeViewModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Tennis Links</h1>
    <p class="lead">Tennis Links helps you connect with other tennis players near by. Search for a partner to play with. Or just have fun!</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@Html.ActionLink("Your personal messages", "All", "Messages", null, new { @class = "btn btn-primary" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Login to see your messages", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })</p>
    }

</div>
<h2 class="title-images-header">Latest user images</h2>
<div class="images-box row">
    @for (var i = 0; i < 4; i++)
    {
    <div class="images-box-wrapper col-xs-6 col-sm-3">
        <div class="home-image">
            @if (@Model[i].UserName != "sample")
            {
            <a href="/player/details?username=@Model[i].UserName">
                <p class="home-user-image">view profile</p>
                <img src="@Model[i].ImageUrl" alt="home image" />
            </a>
            }
            else
            {
                <img src="@Model[i].ImageUrl" alt="home image" />
            }
        </div>
    </div>
    }
</div>
<div class="front-box row">
    <div class="fp-info-box col-md-4">
        <h2>Search for partner</h2>
        <p>
            If you really wish to play tennis, but have no one to play with you can search for a partner here and contact them with personal message.
        </p>
        <p>
            @Html.ActionLink("Search »", "Search", "Home", new { @class = "btn btn-default fp-button" })
            @*<a class="btn btn-default" href="#">Search &raquo;</a>*@
        </p>
    </div>
    <div class="fp-info-box col-md-4">
        <h2>Update your profile</h2>
        <p>If you didn't update your profile yet do it now and more people will contact you based on your skill level and personal info.</p>
        <p><a class="btn btn-default fp-button" href="/player/details?username=@User.Identity.GetUserName()">Profile &raquo;</a></p>
    </div>
    <div class="fp-info-box col-md-4">
        <h2>Compare with other players</h2>
        <p>You can browse all registered players and contact them if you share common skills, play hours and area.</p>
        <p><a class="btn btn-default fp-button" href="/home/all">Players &raquo;</a></p>
    </div>
</div>