@using TennisLinks.Web.Models.Home
@model UserSearchViewModel

@{
    ViewBag.Title = "find players";
}
<h2>@ViewBag.Title</h2>

<p class="text-success">Search for players matching any of these criterias</p>
<hr />
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="form-group">
        @Html.LabelFor(x => x.SearchUserName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.EditorFor(x => x.SearchUserName, new
       {
           htmlAttributes = new
           {
               @class = "form-control mr-4",
               @placeholder = "name"
           }
       })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.SearchSkill, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.SearchSkill, new SelectList(TennisLinks.Models.Constants.Numeric.Skill), "Level", new { @class = "form-control mr-4" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.SearchCity, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.EditorFor(x => x.SearchCity, new
       {
           htmlAttributes = new
           {
               @class = "form-control mr-4",
               @placeholder = "name"
           }
       })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}

<hr />
<div class="player-box row">
    @foreach (var user in Model.FoundUsers)
    {
        @Html.Partial("_UserDetailsPartial", user);
    }
</div>